
body{
    font-family: "Righteous";
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/falling-autumn_4Y9AWZZSIB.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    background-attachment: fixed;
}
nav{
    text-align: center;
    font-family: "Righteous";
    /*
    background-image: url("../images/banner.jpg");
    */
    background-color: white;
    padding: 20px;
    font-size: 18px;
    margin: 0%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    color: green;
    position: sticky;
    top: 0px;
    z-index: 5;
}
nav > img{
    position: absolute;
    left: 10%;
    top: 10px;
}
main > div{
    padding: 0% 15% 0% 15%;
    animation: pageFade 1s forwards;
}
h1,h2{
    text-align: center;
}
nav > a{
    text-decoration: none;
    color: #953B01;
}
nav > a:hover{
    color: #FF8300;
    font-weight: 900;
    font-size: 19px;
    animation-name: navHover;
    animation-duration: 0.13s;
    animation-timing-function: ease-in;
}
header > h5{
    color: #953B01;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 10px;
    font-weight: 200;
    font-size: 16px;
}
.headerTitle{
    text-align: center;
    background-image: linear-gradient(to right, #B3352E, #911913);
    padding: 15px;
    font-size: 25px;
    color: white;
}
.headerTitle > a{
    color: white;
}
footer{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(99, 99, 99);
    padding: 10px;
    z-index: 4;
}

#title{
    padding: 20px;
    text-align: center;
    width: 800px;
    border-radius: 120px;
    margin: 25px 0px 0px 0px;
}
.navItem{
    padding: 0px 15px 0px 15px;
}

div.item{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(99, 99, 99);
    border-radius: 18px;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    z-index: 3;
}

#skinny{
    width: 700px;
}

iframe{
    height: 500px;
    width: 450px;
    margin: 25px;
    border-radius: 10px;
    border: 5px solid #953B01;
}

img.rope{
    z-index: 2;
    margin: 0;
    width: 50px;
    height: 50px;
    margin-bottom: -4px;
}

/*ANIMATIONS*/

/*Nav Animations*/
@keyframes navHover {
    from   {
        color: #953B01;
        font-weight: 300;
        font-size: 18px;
    }
    to {
        color: #FF8300;
        font-weight: 900;
        font-size: 19px;
    }
  }

  @keyframes pageFade {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
  }